# Berlin LOR Crime Atlas (source-aligned) - Sample Notebook

## Explore data

In [1]:

import pandas as pd        

# Read csv file
dataframe = pd.read_csv("./data/03-gold/berlin-lor-crime-atlas-2023-00-csv/berlin-lor-crime-atlas-2023-00-frequency-numbers-forecast-areas.csv")

In [2]:

# Display 5 first rows
dataframe.head()

    id  offences  ...  narcotics_offences  kieztaten
0  110  118877.0  ...              3944.0    24338.0
1  120   37636.0  ...              1679.0     7829.0
2  130   33611.0  ...              1233.0     8925.0
3  140   31448.0  ...              1326.0     8686.0
4  199       0.0  ...                 0.0        0.0

[5 rows x 18 columns]

In [3]:

# Display dataframe info
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70 entries, 0 to 69
Data columns (total 18 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   id                                               70 non-null     int64
 1   offences                                         70 non-null     float64
 2   robbery                                          70 non-null     float64
 3   street_robbery_purse_snatching                   70 non-null     float64
 4   bodily_harm                                      70 non-null     float64
 5   dangerous_and_grievous_bodily_harm               70 non-null     float64
 6   deprivation_of_liberty_coercion_threat_stalking  70 non-null     float64
 7   theft                                            70 non-null     float64
 8   motor_vehicle_theft                              70 non-null     float64
 9   theft_from_motor_vehicle                         70 non-null     float64
 10  bicycle_theft                                    70 non-null     float64
 11  residential_burglary                             70 non-null     float64
 12  fire_offences                                    70 non-null     float64
 13  arson                                            70 non-null     float64
 14  damage_to_property                               70 non-null     float64
 15  damage_to_property_by_graffiti                   70 non-null     float64
 16  narcotics_offences                               70 non-null     float64
 17  kieztaten                                        70 non-null     float64
dtypes: float64(17), int64(1)
memory usage: 10.0 KB

In [4]:

# Describe dataframe
dataframe.describe()

                id       offences  ...  narcotics_offences     kieztaten
count    70.000000      70.000000  ...           70.000000     70.000000
mean    686.542857   23808.214286  ...          803.085714   5876.014286
std     349.335505   20333.469241  ...         1253.269460   4571.035491
min     110.000000       0.000000  ...            0.000000      0.000000
25%     377.250000   12224.750000  ...          185.000000   3103.750000
50%     704.500000   21340.000000  ...          430.500000   5753.000000
75%     986.750000   30024.750000  ...         1003.500000   8217.000000
max    1299.000000  118877.000000  ...         8384.000000  24338.000000

[8 rows x 18 columns]